<div class="backGroundHeader">

  <div class="headerHome">
    <img id="image" src="../assets/images/moon.png">
    <div id="titre">Nouvelles de Rêves</div>

    <nav>
      <ul class="menu">
        <li id="logo" class="deroulant"><a>Accueil</a></li>

        <li class="deroulant"><a href="#">Nouvelles</a>
          <ul class="submenu">
            <li><a>Aventure</a></li>
            <li><a>Fantastique</a></li>
            <li><a>Policier</a></li>
            <li><a>Historique</a></li>
            <li><a>Science-fiction</a></li>
            <li><a>Réflexion</a></li>
          </ul>
        </li>-

        <li class="deroulant"><a>Poésies</a>
          <ul class="submenu">
            <li><a>Classique</a></li>
            <li><a>Contemporaine</a></li>
            <li><a>En Prose</a></li>
            <li><a>Poésie libre</a></li>
            <li><a>Chanson</a></li>
            <li><a>Réflexion</a></li>
          </ul>
        </li>
        <li class="deroulant"><a>Charte</a></li>
        <li class="deroulant"><a>Liens</a></li>
        <li (click)="getUsers()" class="deroulant"><a>Liste Utilisateurs</a></li>
      </ul>

    </nav>

  </div>
</div>
