<!--PARAGRAPHE/NOUVELLES-->
<main>
  <!--Prend toute la partie paragraphe et nouvelles-->

  <article>
    <div>
      <h5>Bienvenue sur Nouvelles de Rêves, site de publications littéraires</h5>
    </div>
    <section id="img">
      <h4>Nouvelles de Rêves</h4>
      <p class="justify">Nouvelles de Rêves est un site crée en collaboration, puis repris à 90% de manière auto-didacte
        afin de perfectionner mes compétences en javaEE, en SQL pour la base de données, et en HTML5/CSS3 pour la
        vitrine de ce site avec un soupçon de javaScript. Il est né afin d'offrir aux auteurs une possibilité de
        présenter leurs écrits devant un public composé à la fois d'auteurs et de simples passionnés de littérature.</p>
      <p class="justify">Nouvelles de Rêves attend avec impatience d'utiliser tout son potentiel en déployant le code
        javaEE que j'ai réalisé en début d'année 2021. En effet, contrairement aux langages html/css/javaScript, il est
        plus difficile de trouver des hébergeurs free pour du code en javaEE. Cependant, ce site "vitrine" vous propose
        un travail de présentation qui se veut responsive, en utilisant FlexBox et les médias Queries. Les données sont
        évidement en dur pour le moment, bien qu'elles existent réellement dans une base de données relationnelle. J'ai
        utilisé de l'open source pour les IDE tels que NetBeans, Bracket, La plateform Java, le serveur Tomcat, le
        serveur filezilla, l'hébergeur PlanetHoster, phpMyAdmin pour la BDD, Linux dans un premier temps, puis Windows
        10 pour terminer.
      </p>
      <p class="justify">Vous êtes employeurs, n'hésitez pas à me contacter pour en connaître davantage sur mon
        parcours, mes compétences et ce projet qui continuera d'évoluer...</p>

      <p>Mon <a href="css/CV_GLOTIN_Laurent.pdf">cv</a></p>

    </section>
  </article>

  <article>
    <div>
      <h5>La dernière Nouvelle</h5>
    </div>
    <!-- <c:forEach  items="${requestScope.derniere}" var="dernierenouvelle" > -->
    <h3 id="h3lastnews"><a href="nouvelleSuper.html">Super nouvelle</a><span class="spanouvelle"> écrite par </span><a
        href="auteurGaelle.html">Gaëlle</a></h3>
    <!--   <span class="spandate"><fmt:formatDate pattern = "dd/MM/yy" value = "${nouvelle.dateCreation}" /></span>-->
    <!-- </c:forEach> -->
    <!-- <h3  id="h3lastnews"><c:out value="${nouvelle.titre}" /> <span class="spanouvelle"> par </span><c:out value="${nouvelle.auteur}"/></h3>-->
  </article>

  <article>
    <div id="h5dixnouvelles">
      <h5>Les dernières nouvelles publiées</h5>
    </div>
    <section id="section">


      <section>
        <!--Les 10 dernières nouvelles avec un foreach-->
        <!-- <c:forEach  items="${requestScope.essai}" var="nouvelle" > -->

        <h3 id="h3dixnouvelles"><a href="nouvelleExtraordinaire.html">Nouvelle extraordinaire</a><span
            class="spanouvelle"> écrite par </span><a href="auteurLaurent.html">Laurent</a></h3>
        <!--  <span class="spandate"><fmt:formatDate pattern = "dd/MM/yy" value = "${nouvelle.dateCreation}" /></span>-->

        <h3 id="h3dixnouvelles"><a href="nouvelleBelleAventure.html">Belle aventure</a><span class="spanouvelle"> écrite
            par </span><a href="auteurCharlie.html">Charlie</a></h3>

        <h3 id="h3dixnouvelles"><a href="nouvelleMagnifique.html">Magnifique site!!</a><span class="spanouvelle"> écrite
            par </span><a href="auteurJeanne.html">Jeanne</a></h3>

        <h3 id="h3dixnouvelles"><a href="nouvellePrintemps.html">Le printemps arrive</a><span class="spanouvelle">
            écrite par </span><a href="auteurAi.html">aïe</a></h3>

        <h3 id="h3dixnouvelles"><a href="nouvelleLoup.html">Le loup fait peur à Jeanne</a><span class="spanouvelle">
            écrite par </span><a href="auteurCharlie.html">Charlie</a></h3>


        <h3 id="h3dixnouvelles"><a href="nouvelleExtraordinaire.html">Nouvelle extraordinaire</a><span
            class="spanouvelle"> écrite par </span><a href="auteurLaurent.html">Laurent</a></h3>
        <!--  <span class="spandate"><fmt:formatDate pattern = "dd/MM/yy" value = "${nouvelle.dateCreation}" /></span>-->

        <h3 id="h3dixnouvelles"><a href="nouvelleBelleAventure.html">Belle aventure</a><span class="spanouvelle"> écrite
            par </span><a href="auteurCharlie.html">Charlie</a></h3>

        <h3 id="h3dixnouvelles"><a href="nouvelleMagnifique.html">Magnifique site!!</a><span class="spanouvelle"> écrite
            par </span><a href="auteurJeanne.html">Jeanne</a></h3>

        <h3 id="h3dixnouvelles"><a href="nouvellePrintemps.html">Le printemps arrive</a><span class="spanouvelle">
            écrite par </span><a href="auteurAi.html">aïe</a></h3>

        <h3 id="h3dixnouvelles"><a href="nouvelleLoup.html">Le loup fait peur à Jeanne</a><span class="spanouvelle">
            écrite par </span><a href="auteurCharlie.html">Charlie</a></h3>

        <h3 id="h3dixnouvelles"><a href="nouvelleExtraordinaire.html">Nouvelle extraordinaire</a><span
            class="spanouvelle"> écrite par </span><a href="auteurLaurent.html">Laurent</a></h3>
        <!--  <span class="spandate"><fmt:formatDate pattern = "dd/MM/yy" value = "${nouvelle.dateCreation}" /></span>-->

        <h3 id="h3dixnouvelles"><a href="nouvelleBelleAventure.html">Belle aventure</a><span class="spanouvelle"> écrite
            par </span><a href="auteurCharlie.html">Charlie</a></h3>

        <h3 id="h3dixnouvelles"><a href="nouvelleMagnifique.html">Magnifique site!!</a><span class="spanouvelle"> écrite
            par </span><a href="auteurJeanne.html">Jeanne</a></h3>

        <h3 id="h3dixnouvelles"><a href="nouvellePrintemps.html">Le printemps arrive</a><span class="spanouvelle">
            écrite par </span><a href="auteurAi.html">aïe</a></h3>

        <h3 id="h3dixnouvelles"><a href="nouvelleLoup.html">Le loup fait peur à Jeanne</a><span class="spanouvelle">
            écrite par </span><a href="auteurCharlie.html">Charlie</a></h3>

        <h3 id="h3dixnouvelles"><a href="nouvelleExtraordinaire.html">Nouvelle extraordinaire</a><span
            class="spanouvelle"> écrite par </span><a href="auteurLaurent.html">Laurent</a></h3>
        <!--  <span class="spandate"><fmt:formatDate pattern = "dd/MM/yy" value = "${nouvelle.dateCreation}" /></span>-->

        <h3 id="h3dixnouvelles"><a href="nouvelleBelleAventure.html">Belle aventure</a><span class="spanouvelle"> écrite
            par </span><a href="auteurCharlie.html">Charlie</a></h3>

        <h3 id="h3dixnouvelles"><a href="nouvelleMagnifique.html">Magnifique site!!</a><span class="spanouvelle"> écrite
            par </span><a href="auteurJeanne.html">Jeanne</a></h3>

        <h3 id="h3dixnouvelles"><a href="nouvellePrintemps.html">Le printemps arrive</a><span class="spanouvelle">
            écrite par </span><a href="auteurAi.html">aïe</a></h3>

        <h3 id="h3dixnouvelles"><a href="nouvelleLoup.html">Le loup fait peur à Jeanne</a><span class="spanouvelle">
            écrite par </span><a href="auteurCharlie.html">Charlie</a></h3>

        <!-- </c:forEach> -->
      </section>

      <section>
        <!--Les 10 dernières nouvelles avec un foreach-->
        <!-- <c:forEach  items="${requestScope.essai}" var="nouvelle" > -->

        <h3 id="h3dixnouvelles"><a href="nouvelleExtraordinaire.html">Nouvelle extraordinaire</a><span
            class="spanouvelle"> écrite par </span><a href="auteurLaurent.html">Laurent</a></h3>
        <!--  <span class="spandate"><fmt:formatDate pattern = "dd/MM/yy" value = "${nouvelle.dateCreation}" /></span>-->

        <h3 id="h3dixnouvelles"><a href="nouvelleBelleAventure.html">Belle aventure</a><span class="spanouvelle"> écrite
            par </span><a href="auteurCharlie.html">Charlie</a></h3>

        <h3 id="h3dixnouvelles"><a href="nouvelleMagnifique.html">Magnifique site!!</a><span class="spanouvelle"> écrite
            par </span><a href="auteurJeanne.html">Jeanne</a></h3>

        <h3 id="h3dixnouvelles"><a href="nouvellePrintemps.html">Le printemps arrive</a><span class="spanouvelle">
            écrite par </span><a href="auteurAi.html">aïe</a></h3>

        <h3 id="h3dixnouvelles"><a href="nouvelleLoup.html">Le loup fait peur à Jeanne</a><span class="spanouvelle">
            écrite par </span><a href="auteurCharlie.html">Charlie</a></h3>


        <h3 id="h3dixnouvelles"><a href="nouvelleExtraordinaire.html">Nouvelle extraordinaire</a><span
            class="spanouvelle"> écrite par </span><a href="auteurLaurent.html">Laurent</a></h3>
        <!--  <span class="spandate"><fmt:formatDate pattern = "dd/MM/yy" value = "${nouvelle.dateCreation}" /></span>-->

        <h3 id="h3dixnouvelles"><a href="nouvelleBelleAventure.html">Belle aventure</a><span class="spanouvelle"> écrite
            par </span><a href="auteurCharlie.html">Charlie</a></h3>

        <h3 id="h3dixnouvelles"><a href="nouvelleMagnifique.html">Magnifique site!!</a><span class="spanouvelle"> écrite
            par </span><a href="auteurJeanne.html">Jeanne</a></h3>

        <h3 id="h3dixnouvelles"><a href="nouvellePrintemps.html">Le printemps arrive</a><span class="spanouvelle">
            écrite par </span><a href="auteurAi.html">aïe</a></h3>

        <h3 id="h3dixnouvelles"><a href="nouvelleLoup.html">Le loup fait peur à Jeanne</a><span class="spanouvelle">
            écrite par </span><a href="auteurCharlie.html">Charlie</a></h3>

        <h3 id="h3dixnouvelles"><a href="nouvelleExtraordinaire.html">Nouvelle extraordinaire</a><span
            class="spanouvelle"> écrite par </span><a href="auteurLaurent.html">Laurent</a></h3>
        <!--  <span class="spandate"><fmt:formatDate pattern = "dd/MM/yy" value = "${nouvelle.dateCreation}" /></span>-->

        <h3 id="h3dixnouvelles"><a href="nouvelleBelleAventure.html">Belle aventure</a><span class="spanouvelle"> écrite
            par </span><a href="auteurCharlie.html">Charlie</a></h3>

        <h3 id="h3dixnouvelles"><a href="nouvelleMagnifique.html">Magnifique site!!</a><span class="spanouvelle"> écrite
            par </span><a href="auteurJeanne.html">Jeanne</a></h3>

        <h3 id="h3dixnouvelles"><a href="nouvellePrintemps.html">Le printemps arrive</a><span class="spanouvelle">
            écrite par </span><a href="auteurAi.html">aïe</a></h3>

        <h3 id="h3dixnouvelles"><a href="nouvelleLoup.html">Le loup fait peur à Jeanne</a><span class="spanouvelle">
            écrite par </span><a href="auteurCharlie.html">Charlie</a></h3>

        <h3 id="h3dixnouvelles"><a href="nouvelleExtraordinaire.html">Nouvelle extraordinaire</a><span
            class="spanouvelle"> écrite par </span><a href="auteurLaurent.html">Laurent</a></h3>
        <!--  <span class="spandate"><fmt:formatDate pattern = "dd/MM/yy" value = "${nouvelle.dateCreation}" /></span>-->

        <h3 id="h3dixnouvelles"><a href="nouvelleBelleAventure.html">Belle aventure</a><span class="spanouvelle"> écrite
            par </span><a href="auteurCharlie.html">Charlie</a></h3>

        <h3 id="h3dixnouvelles"><a href="nouvelleMagnifique.html">Magnifique site!!</a><span class="spanouvelle"> écrite
            par </span><a href="auteurJeanne.html">Jeanne</a></h3>

        <h3 id="h3dixnouvelles"><a href="nouvellePrintemps.html">Le printemps arrive</a><span class="spanouvelle">
            écrite par </span><a href="auteurAi.html">aïe</a></h3>

        <h3 id="h3dixnouvelles"><a href="nouvelleLoup.html">Le loup fait peur à Jeanne</a><span class="spanouvelle">
            écrite par </span><a href="auteurCharlie.html">Charlie</a></h3>

        <!-- </c:forEach> -->
      </section>
    </section>

  </article>


</main>
<!--Prend toute la partie paragraphe et nouvelles-->
<!--PARAGRAPHE/NOUVELLES-->
