@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Advent+Pro&family=Dancing+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lovers+Quarrel&display=swap");
/*
font-family: 'Advent Pro', sans-serif;
font-family: 'Dancing Script', cursive;
*/
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
/* @import url('https://fonts.googleapis.com/css2?family=Advent+Pro&family=Dancing+Script&display=swap'); */
@import url("https://fonts.googleapis.com/css2?family=Lovers+Quarrel&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Advent+Pro:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* aucune marge sur tous les éléments, et éléments avec les marges sont calculés directement*/

@media screen and (max-width: 6000px) {
  /*grand écran*/
  #titre {
    font-size: 3em;
    color: darkslateblue;
    margin-right: 30px;
    text-align: right;
  }
  h2 {
    font-size: 2em;
    color: darkslateblue;
  }
  legend {
    font-size: 1.5em;
  }
  article a,
  p,
  h3,
  header a {
    font-size: 1.4em;
    color: darkslateblue;
  }
  #script,
  #ulinscription a,
  .tousaside a,
  label,
  footer li,
  form input {
    font-size: 1.1em;
    color: darkslateblue;
  }
  footer a {
    font-size: 1.2em;
    color: darkslateblue;
  }
  h5 {
    font-size: 1em;
  }
  .spanouvelle {
    font-size: 0.8em;
  }
  h4 {
    font-size: 2.2em;
    color: darkslateblue;
  }
}

@media screen and (max-width: 1800px) {
  /*écran pc normal 17' entre 1300 et 1800px*/
  #titre {
    font-size: 2.6em;
    color: darkslateblue;
    margin-right: 30px;
    text-align: right;
  }
  h2 {
    font-size: 1.5em;
    color: darkslateblue;
  }
  legend {
    font-size: 1.3em;
  }
  article a,
  p,
  h3,
  header a {
    font-size: 1.2em;
    color: darkslateblue;
  }
  #script,
  #ulinscription a,
  .tousaside a,
  label,
  footer li,
  form input {
    font-size: 1em;
    color: darkslateblue;
  }
  footer a {
    color: darkslateblue;
  }
  h5 {
    font-size: 0.9em;
  }
  .spanouvelle {
    font-size: 0.65em;
    color: darkslateblue;
  }
  h4 {
    font-size: 1.8em;
    color: darkslateblue;
  }
}

@media screen and (max-width: 1300px) {
  /*écran hp ancien entre 900 et 1300px*/
  #titre {
    font-size: 2.3em;
    color: darkslateblue;
    margin-right: 30px;
    text-align: right;
  }
  h2 {
    font-size: 1.3em;
    color: darkslateblue;
  }
  legend {
    font-size: 1.1em;
  }
  article a,
  p,
  h3,
  header a {
    font-size: 1em;
    color: darkslateblue;
  }
  #script,
  #ulinscription a,
  .tousaside a,
  label,
  footer li,
  form input {
    font-size: 0.85em;
    color: darkslateblue;
  }
  footer a {
    color: black;
  }
  h5 {
    font-size: 0.75em;
  }
  .spanouvelle {
    font-size: 0.6em;
    color: darkslateblue;
  }
  h4 {
    font-size: 1.6em;
    color: darkslateblue;
  }
}

@media screen and (max-width: 900px) {
  /*tablette entre 480 et 900*/
  .tousaside {
    display: none;
  }
  #titre {
    font-size: 2em;
    color: darkslateblue;
    margin-right: 30px;
    text-align: right;
  }
  h2 {
    font-size: 1em;
    color: darkslateblue;
  }
  legend {
    font-size: 0.9em;
  }
  article a,
  p,
  h3 a,
  header a {
    font-size: 0.8em;
    color: darkslateblue;
  }
  #script,
  #ulinscription a,
  .tousaside a,
  label,
  footer li,
  form input {
    font-size: 0.65em;
    color: darkslateblue;
  }
  footer a {
    color: darkslateblue;
  }
  h5 {
    font-size: 0.6em;
  }
  .spanouvelle {
    font-size: 0.5em;
    color: darkslateblue;
  }
  h4 {
    font-size: 1.4em;
    color: darkslateblue;
  }
}

@media screen and (max-width: 480px) {
  /*portable*/
  .tousaside {
    display: none;
  }
  #titre {
    font-size: 1.3em;
    color: darkslateblue;
    text-align: left;
    margin-left: 10px;
  }
  h2 {
    font-size: 0.8em;
    color: darkslateblue;
  }
  legend {
    font-size: 0.7em;
  }
  article a {
    font-size: 0.9em;
  }
  p,
  h3,
  header a {
    font-size: 0.6em;
    color: darkslateblue;
  }
  #script,
  #ulinscription a,
  .tousaside a,
  label,
  footer li,
  form input {
    font-size: 0.6em;
    color: darkslateblue;
  }
  footer a {
    color: darkslateblue;
  }
  h5 {
    font-size: 0.5em;
  }
  .spanouvelle {
    font-size: 0.5em;
    color: darkslateblue;
  }
  h4 {
    font-size: 1em;
    color: darkslateblue;
  }
}

/****CONTENU NOUVELLE****/
article {
  display: flex;
  flex-direction: column; /*met tout le contenu dans les article en mode colonne, les uns au dessus des autres*/
  margin-left: 5px; /*marge entre les article*/
  /*border-left: 1px solid #DCDCDC;*/
  font-family: "Aileron-Bold";
}

/*.article:nth-child(3){
border-bottom: 1px solid #DCDCDC; trait sous le dernier article
}*/

article div {
  padding: 4.1px; /*hauteur des titres h5 qui sont en gray afin d'être aussi haut que ceux des asides */
  color: white;
  background-color: gray;
}

article h5,
h4 {
  margin-left: 5px; /*marge gauche des h5 et h4 ->titre en fond gris+Nouvelles de rêves*/
}

article h3 {
  /*        border: 1px solid #DCDCDC; cadre pour essai*/
  padding: 3px; /*hauteur des h3 ->nouvelles*/
  margin: 0px 5px 0px 5px;
  font-family: "Aileron-Bold";
  /*    font-weight:normal;enlève le bold mis par défaut */
}

article p {
  text-align: justify;
}

#h3dixnouvelles:nth-child(2n + 1) {
  background-color: #faf0e6; /*change de couleur une fois sur deux(paire->even)*/
}

#h3dixnouvelles {
  margin-bottom: 2px; /*marge bas des li car ils sont sur la boucle foreach*/
}

#h3lastnews {
  background-color: #faf0e6;
  margin-top: 5px;
  margin-bottom: 5px; /*marge haut et bas du h3 de la dernière nouvelle...
  obligé de faire ainsi à cause du foreach sur les nouvelles et qui ont aussi un h3 */
}

#h5dixnouvelles {
  margin-bottom: 5px; /*marge bas du h3->10 dernières nouvelles*/
}

p {
  font-family: "Aileron-Bold";
  margin-bottom: 12px;
}

article a {
  text-decoration: none;
}

#articleAuteur {
  border: 1px solid #dcdcdc;
  min-height: 55vh;
  margin: 20px 10px 20px 15px;
}
#articleAuteur {
  text-align: center;
}

article h4 {
  padding: 10px 0px 10px 0px;
  font-family: "Lovers Quarrel", cursive;
}

/* #img {
  background-image: url(unders.png);
  background-repeat: no-repeat;
  background-position: top;
} */

#section {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

section {
  flex-grow: 1;
}

section:nth-child(1) {
  border-right: 1px solid #dcdcdc;
}

legend {
  font-weight: bold;
  color: #0568cd;
}

#pouces {
  background-color: floralwhite;
}

#commentaires {
  border: 1px solid lightgray;
}
/*.spandate{
font-size: 0.8em;
color: grey;
font-family:'Aileron-Bold';
}*/
