.text-center{
  text-align: center;
}
.example-container{
  height: 50%;
  text-align: left;
}

.backButton{
  text-align: center;
  margin-bottom: 10px;
}

.image{
  text-align: center;
  margin-bottom: 20px;
}
