<div class="example-container">

  <app-header></app-header>
  <div class="headerHome">

    <div class="button">
      <button id="button1" color="primary" (click)="routInscription()">Inscription</button>
      <button id="button2" [disabled]="" color="primary" (click)="routConnection()">Connection</button>

      <div class="script" id='p1'></div>
    </div>
  </div>

  <!--   <link href="https://fonts.googleapis.com/css?family=Roboto:400,700">
  <div id="time"></div> -->

  <app-article></app-article>



  <div class="footerHome">
    <div *ngIf="isAuth" class="sentenceFooter">
      <div id="message">{{message}}&nbsp;
      </div>
      <div id="email">{{email}}
      </div>
    </div>

    <button [hidden]="isAuth === false" class="buttonDeConnection" color="primary"
      (click)="routDeconnection()">Deconnection</button>
  </div>
</div>

<app-footer></app-footer>
